<div class="wrapper">
  <div class="main-panel">
    <header [title]="'OwlbearDM Initiative'" [subtitle]="'Tracker'"></header>

    <div class="content">

      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-auto">
              <div class="btn-group flow-right" role="group">
                <button type="button" class="btn btn-danger" (click)="clearAll()">
                  Clear All
                </button>
                <button type="button" class="btn btn-success" (click)="start()">
                  Sort and Start
                </button>
                <button type="button" class="btn btn-primary" (click)="next()">
                  Next turn
                </button>
              </div>
              <span class="ml-3">Round <span>{{round}}</span></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

            <div class="" *ngFor="let item of items" cdkDrag>
              <pc [pc]="item"></pc>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <add-from (newItemEvent)="addItem($event)"></add-from>
        </div>
      </div>


    </div>
    <footer></footer>
  </div>
</div>