<a href="#" class="btn btn-sm btn-round ml-auto" [ngClass]="condition.count == 0 ? '' : 'btn-primary'" (click)="showControls = !showControls">
  {{condition.name}}
  <span class="badge badge-light" *ngIf="condition.count != undefined">{{condition.count}}
    <span class="fas fa-caret-down" *ngIf="condition.descending"></span>
    <span class="fas fa-caret-up" *ngIf="!condition.descending"></span>
  </span>
  <span class="badge badge-pill badge-light" (click)="changeCount(1)" *ngIf="showControls">
    <span class="fas fa-plus"></span>
  </span>
  <span class="badge badge-pill badge-light" (click)="changeCount(-1)" *ngIf="showControls">
    <span class="fas fa-minus"></span>
  </span>
  <span class="badge badge-pill badge-light" (click)="onDelete.emit()" *ngIf="showControls">
    <span class="fas fa-times"></span>
  </span>
</a>
